CONFIG_BUSYBOX=y
CONFIG_STATIC=y
CONFIG_NOMMU=y
CONFIG_LONG_OPTS=y
CONFIG_SHOW_USAGE=y
CONFIG_FEATURE_BUFFERS_USE_MALLOC=y
CONFIG_INSTALL_APPLET_SYMLINKS=y
CONFIG_PREFIX="./_install"
CONFIG_EXTRA_CFLAGS="-I../user/sysroot/include -I../user/include"
CONFIG_EXTRA_LDFLAGS="-nostdlib"
CONFIG_EXTRA_LDLIBS=""
CONFIG_CAT=y
CONFIG_BASENAME=y
CONFIG_CLEAR=y
CONFIG_CP=y
CONFIG_CUT=y
CONFIG_DATE=y
CONFIG_DD=y
CONFIG_DIRNAME=y
CONFIG_DU=y
CONFIG_ENV=y
CONFIG_ECHO=y
CONFIG_FIND=y
CONFIG_FEATURE_FANCY_ECHO=y
CONFIG_HEAD=y
CONFIG_KILL=y
CONFIG_FEATURE_FANCY_HEAD=y
CONFIG_LS=y
CONFIG_FEATURE_LS_FILETYPES=y
CONFIG_FEATURE_LS_SORTFILES=y
CONFIG_FEATURE_LS_COLOR=y
CONFIG_FEATURE_LS_COLOR_IS_DEFAULT=y
CONFIG_MKDIR=y
CONFIG_MV=y
CONFIG_PWD=y
CONFIG_RM=y
CONFIG_READLINK=y
CONFIG_PRINTENV=y
CONFIG_NL=y
CONFIG_PASTE=y
CONFIG_RMDIR=y
CONFIG_SLEEP=y
CONFIG_SORT=y
CONFIG_FEATURE_FANCY_SLEEP=y
CONFIG_TAIL=y
CONFIG_FEATURE_FANCY_TAIL=y
CONFIG_TEST=y
CONFIG_TEST1=y
CONFIG_CMP=y
CONFIG_DIFF=y
CONFIG_TR=y
CONFIG_XARGS=y
CONFIG_WHICH=y
CONFIG_UNAME=y
CONFIG_WC=y
CONFIG_MD5SUM=y
CONFIG_SHA1SUM=y
CONFIG_SHA256SUM=y
CONFIG_SHA512SUM=y
CONFIG_SHA3SUM=y
CONFIG_PRINTF=y
CONFIG_EXPR=y
CONFIG_TEE=y
CONFIG_YES=y
CONFIG_TTY=y
CONFIG_NPROC=y
CONFIG_STRINGS=y
CONFIG_TRUE=y
CONFIG_FALSE=y
CONFIG_FREE=y
CONFIG_PS=y
CONFIG_FEATURE_PS_WIDE=y
CONFIG_FEATURE_PS_LONG=y
CONFIG_UPTIME=y
CONFIG_SH_IS_HUSH=y
# CONFIG_SH_IS_ASH is not set
CONFIG_BASH_IS_NONE=y
CONFIG_HUSH=y
CONFIG_SHELL_HUSH=y
# CONFIG_ASH is not set
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_FEATURE_PREFER_APPLETS=y
CONFIG_FEATURE_SH_NOFORK=y
CONFIG_BUSYBOX_EXEC_PATH="/bin/busybox"
CONFIG_HUSH_INTERACTIVE=y
CONFIG_HUSH_TICK=y
CONFIG_HUSH_IF=y
CONFIG_HUSH_LOOPS=y
CONFIG_HUSH_CASE=y
CONFIG_HUSH_FUNCTIONS=y
CONFIG_HUSH_ECHO=y
CONFIG_HUSH_PRINTF=y
CONFIG_HUSH_TEST=y
CONFIG_HUSH_EXPORT=y
CONFIG_HUSH_READONLY=y
CONFIG_HUSH_WAIT=y
CONFIG_HUSH_COMMAND=y
CONFIG_HUSH_HELP=y
CONFIG_HUSH_READ=y
CONFIG_HUSH_SET=y
CONFIG_HUSH_TYPE=y
CONFIG_HUSH_UNSET=y
CONFIG_HUSH_UMASK=y
CONFIG_FEATURE_SH_MATH=y
CONFIG_NC=y
# CONFIG_NETCAT is not set
# CONFIG_NC_SERVER is not set
CONFIG_NC_EXTRA=y
# CONFIG_NC_110_COMPAT is not set
CONFIG_NSLOOKUP=y
CONFIG_FEATURE_NSLOOKUP_BIG=y
CONFIG_FEATURE_NSLOOKUP_LONG_OPTIONS=y
CONFIG_PING=y
# CONFIG_PING6 is not set
# CONFIG_FEATURE_FANCY_PING is not set
CONFIG_WGET=y
CONFIG_FEATURE_WGET_LONG_OPTIONS=y
# CONFIG_FEATURE_WGET_STATUSBAR is not set
